body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 30PX 15px;
}

.cadastro-container {
    max-width: 400px;
    margin: 0 auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.campo {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #aaa;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #1100b8;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}